<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ACMSEntities" connectionString="metadata=res://*/ApplicationData.BD.csdl|res://*/ApplicationData.BD.ssdl|res://*/ApplicationData.BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chepilev\MSSQLSERVER1;initial catalog=ACMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACMSEntities1" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=chepilev\MSSQLSERVER1;initial catalog=ACMS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>